* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul, ol, li {
    list-style: none;
}

body {
    font-family: monospace;
}

.calculadora {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-45%);
}

p,
.tela,
.teclado-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela {
    background-color: gray;
    width: 326px;
    height: 160px;
}

.tela-display {
    background-color: green;
    border-radius: 5%;
    width: 98%;
    height: 98%;
}

p {
    height: 80px;
}

.teclado {
    display: flex;
    flex-wrap: wrap;
    width: 328px;
}

.tela,
.teclado-item {
    border: solid 1px rebeccapurple;
}

.teclado-item {
    background-color: burlywood;
    color: black;
    width: 80px;
    height: 80px;
    font-size: 1.5em;
}

.teclado-item:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 1, 1);
    cursor: pointer;
}

.teclado-item_0,
.teclado-item_back,
.teclado-item_ponto {
    position: relative;
    top: -82px;
}

.teclado-item_igual {
    position: relative;
    height: 162px;
}
