* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul, ol, li {
    list-style: none;
}

.teclado {
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    width: 330px;
    height: 410px;
}

.teclado-item {
    background-color: burlywood;
    color: black;
    width: 80px;
    height: 80px;
    border: solid 1px rebeccapurple;
    text-align: center;
    font-size: 1.5em;
}

.teclado-item_0 {
    width: 160px;
}

.teclado-item_igual {
    height: 160px;
}
